!!! Strict
%html
  %head
    %title= @page_title

    %style{:type => "text/css"}
      :sass
        body
          :background-color #dc0
          :color black
          :font-family "Helvetica", arial, sans-serif
          :width 650px
          :margin 0 auto
          :padding 30px 0
          
          > h1
            :font-size 32px
            :margin 0 0 10px 12px
            :position relative
            :text-transform uppercase
            a
              :color #000
              :text-decoration none
              img
                :position absolute
                :top 0
                :left -140px
                :border none
              .owner
                :display block
                :font-size 16px
                :font-weight bold
                :text-transform uppercase
                :color #fff
      
  %body
    %h1
      %a{:href => "/"}
        %img{:src => "/logo.png", :width => "100", :height => "163", :alt => "Banana broadcasting to the world"}/
        %span.owner
          == #{Bananajour.config.name}&rsquo;s
        Bananajour
    = yield
