!!!
%html{:lang => "en-au"}
  %head
    %meta{:charset => "UTF-8"}
    %title= @page_title

    %style{:type => "text/css"}
      :sass
        body
          :position relative
          :background-color #dc0
          :color black
          :font-family "Helvetica", arial, sans-serif
          :width 650px
          :margin 0 auto
          :padding 30px 0
          
        .dev_notice
          :position absolute
          :top 0
          :left 0
          :right 0
          :font-size 14px
          :line-height 20px
          :height 20px
          :background black
          :color white
          :text-align center
        
        #title
          :font-size 32px
          :margin 0 0 10px 12px
          :position relative
          :text-transform uppercase
          a
            :color #000
            :text-decoration none
            img
              :position absolute
              :top 0
              :left -140px
              :border none
            .owner
              :display block
              :font-size 16px
              :font-weight bold
              :text-transform uppercase
              :color #fff
        pre
          :overflow auto
          
        ul.commits
          :width 100%
          :margin-top 5px

        ul.commits li
          :font-size 12px
          :line-height 1.5em
          :padding 8px 0
          :border 0px solid #ddd
          :border-top-width 1px
          :cursor pointer

          &:first-child
            :border-top-width 0

          em.branch
            :float right
            :display block
            :font-size 11px
            :background-color #d5d5d5
            :color #666
            :padding 2px 5px
            :margin-left 3px
            :margin-top -3px
            :font-weight normal
            :font-style normal

          p
            :margin 0
            :line-height 1em

          p.message
            :line-height 1.4em
            :padding-left 30px

          span.meta
            :font-size 10px
            :color #666
            :line-height 1.5em

          img.gravatar
            :margin-top -5px
            :width 25px
            :height 25px
            :float left
      
    %script{:src => versioned_javascript("jquery-1.3.2.min"), :type => "text/javascript"}
  %body{:class => ("local" if local?)}
    - if Bananajour.env == 'development'
      .dev_notice DEV MODE
    
    %h1#title
      %a{:href => "/"}
        %img{:src => "/logo.png", :width => "100", :height => "163", :alt => "Banana broadcasting to the world"}/
        %span.owner
          == #{Bananajour.config.name}&rsquo;s
        Bananajour
    = yield
  