!!!
%html{:lang => "en-au"}
  %head
    %meta{:charset => "UTF-8"}
    %title= @page_title
    
    %style{:type => "text/css"}
      :sass
        body
          :position relative
          :background-color #dc0
          :color black
          :font-family "Helvetica", arial, sans-serif
          :width 650px
          :margin 0 auto
          :padding 30px 0
          
        h1#title
          :font-size 32px
          :margin 0 0 10px 12px
          :position relative
          :text-transform uppercase
          img.gravatar
            :width 50px
            :height 50px
            :float right
            :margin-right 10px
            :border 2px solid #ff0
            :-webkit-border-radius 3px
          a
            :color #000
            :text-decoration none
            img
              :position absolute
              :top 0
              :left -140px
              :border none
            .owner
              :display block
              :font-size 16px
              :font-weight bold
              :text-transform uppercase
              :color #fff
    
        pre
          :overflow auto
          
        ul.commits
          :width 100%
          :margin-top 5px

        ul.commits li
          :font-size 12px
          :line-height 1.5em
          :padding 8px 0
          :border 0px solid #ddd
          :border-top-width 1px
          
          a
            :text-decoration none
            :color #333
            &:hover
              :text-decoration underline

          &:first-child
            :border-top-width 0

          p
            :margin 0
            :line-height 1em

          p.message
            :line-height 1.4em
            :padding-left 30px

          span.meta
            :font-size 10px
            :color #666
            :line-height 1.5em

          img.gravatar
            :margin-top -5px
            :width 25px
            :height 25px
            :float left
        
        .clear
          :clear both
        
        #pbjt
          :width 54px
          :height 93px
          :position absolute
          :bottom 0
          :right -100px
          &:hover
            :background-image url(/peanut.png)
      
    %script{:src => "/jquery-1.3.2.min.js", :type => "text/javascript"}

  %body{:class => ("local" if local?)}
    %h1#title
      %img.gravatar{:src => Bananajour.gravatar}
      %a{:href => "/"}
        %img{:src => "/logo.png", :width => "100", :height => "163", :alt => "Banana broadcasting to the world"}/
        %span.owner
          == #{Bananajour.config.name}&rsquo;s
        Bananajour

    = yield

    #pbjt

    .clear

    :javascript
      $("#pbjt").bind("click", function(){ 
        $("<embed bgcolor='#000000' height='400' width='550' name='pbjt' pluginspage='http://www.adobe.com/go/getflashplayer' quality='high' src='/pbjt.swf' style='position:fixed;top:0;left:0;width:100%;height:100%' type='application/x-shockwave-flash' />").appendTo($("body"));
      });