- @page_title = "Network Activity for #{@repository.name}"

%style{:type => 'text/css'}
  :sass
    body
      :width 1100px
    
    h1#title img
      :position absolute
      :top -10px
      :left 1050px
    
    h2
      :position absolute
      :top 37px
      :left 270px
    
    ul, li
      :margin 0
      :padding 0
      :list-style none

    ul.repos
      > li
        :list-style none
        :-webkit-border-radius 10px
        :-moz-border-radius 10px
        :padding 7px 10px
        :margin 10px
        :border 4px solid #ff0
        :float left
        :padding 10px
        :background-color #fff
        :width 300px
        
      ul.commits
        :height 250px
        :overflow auto
        :padding-right 10px
        :margin-top 0
        
      a.person
        :font-size 14px
        :color #000
        :font-weight bold
  
%h2
  Network Activity for
  &= @repository.name

:javascript
  $(function() {
    var repos = #{@network_repositories.map {|r| r.to_hash}.to_json};
    
    var reposList = $("<ul class='repos'/>").appendTo($("body"));
    
    $(repos).each(function() {
      var repo = this;
      var repoItem = $("<li/>").
        append($("<a class='person'/>").attr("href", repo.web_uri).text(repo.person.name)).
        data("repo", repo).
        appendTo(reposList);
    });
    
    var fetchActivity = function() {
      $("ul.repos li").each(function() {
        var repoItem = $(this);
        var repo = repoItem.data("repo");
        
        repoItem.addClass("loading");
        
        if (!repo) return;
        
        $.getJSON(repo.json_uri + "?callback=?", function(data) {
          repoItem.removeClass("loading");
          repoItem.find("ul.commits").remove();
          
          var commitList = $("<ul class='commits' />").appendTo(repoItem);
          
          $(data.recent_commits).each(function() {
            var commit = this;
            var commitItem = $("<li/>").appendTo(commitList);
            if (commit.head) {
              $("<em class='branch' />").text(commit.head).appendTo(commitItem);
            }
            commitItem.append(commit.message);
            $("<span class=\"meta\"/>").
              append(" ~ " + commit.committed_date_pretty + " by " + commit.author.name + " - " + commit.id.substr(0, 7)).
              appendTo(commitItem);
          });
        });
      });
    }
    
    fetchActivity();
    setInterval(fetchActivity, 5000);
  })